<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
    <title>Website!</title>
    <meta name="description" content="A demo website for axum and rust, tailwind, htmx."/>

    <meta property="og:site_name" content="Website"/>
    <meta property="og:type" content="Simple site featuring tailwind and htmx..."/>
    <meta property="og:title" content="Website"/>
    <meta property="og:description" content="A demo website for axum and rust, tailwind, htmx"/>
    <meta property="og:url" content="https://wwww.example.com"/>

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/main.css" type="text/css" />

    <!-- htmx -->
    <script src="/assets/htmx.min.1-9-6.js"></script>
    <script src="/assets/htmx.response-targets.1-9-6.js"></script>
</head>